#navbar{
    display:flex;justify-content:space-between;align-items: center;
}

.react-logo{
    width:100px;
}

.user-icon{
    width: 60px;
}

input{
    width:40%;
    border-radius : 5px;
    padding:10px;
    
}